<!-- <div class="col-md-8 offset-md-3">
    <h3> Create Employee</h3>
    <form (ngSubmit)="onSubmit()"> -->
<!-- <div class="form-group">
            <label> Id</label>
            <input type="number" class="form-control" id="id" [(ngModel)]="employee.id" name="id">
        </div> -->
<!-- <div class="form-group">
            <label> First name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" name="firstName">
        </div>
        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class="form-control" id="lasttName" [(ngModel)]="employee.lastName" name="lastName">
        </div>
        <div class="form-group">
            <label> Email</label>
            <input type="email" class="form-control" id="Email" [(ngModel)]="employee.emailId" name="emailId">
        </div>

        <button class="btn btn-success" type="submit">Submit</button>
    </form>
</div> -->

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="col-md-6 offset-md-3">
    <h3> Create Employee </h3>
    <a style="color: red;">{{msg}}</a><br>
    <a style="color: red;">{{pas_err}}</a><br>
    <a style="color: red;">{{errorimage}}</a>
    <form>
        <!-- (ngSubmit)="onSubmit()" -->
        <div class="form-group">
            <label> First Name</label>
            <input type="text" class="form-control" id="firstName" [(ngModel)]="employee.firstName" name="firstName">
        </div>

        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class="form-control" id="lastName" [(ngModel)]="employee.lastName" name="lastName">
        </div>

        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class="form-control" id="emailId" [(ngModel)]="employee.emailId" name="emailId">
        </div>
        <div class="form-group">
            <label> password</label>
            <div class="form-row">
                <div class="col-11">
                    <span>
                        <input [type]="password" class="form-control" id="password" [(ngModel)]="employee.password" name="password">
                    </span>
                </div>
                <div class="col">
                    <span>
                        <button (click)="onClick()" class="eye">
                            <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                          </button>
                    </span>
                </div>

            </div>
        </div>
        <div class="form-group">
            <label> confirm password</label>
            <div class="form-row">
                <div class="col-11">
                    <span>
                        <input [type]="password" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword">
                    </span>
                </div>
                <div class="col">
                    <span>
                        <button (click)="onClick()" class="eye">
                            <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                          </button>
                    </span>
                </div>

            </div>

        </div>
        <div class="container row">
            <label> Uplload Image</label>
        </div>

        <div class="container row">
            <div class="col-md-6">
                <input type="file" (change)="onFileChanged($event)">
                <!-- [(ngModel)]="employee.image" name="image" -->
            </div>
            <!-- <div class="col-md-6">
                <input type="button" (click)="onUpload()" value="upload">
            </div> -->
        </div>
        <hr />
        <div class="container row">
            <div class="col-md-12">
                <div *ngIf=message>{{message}}</div>
            </div>
        </div>



        <div style="margin-top: 10px; margin-bottom:10px; float: right;">

            <button class="btn btn-success" (click)="onSubmit()">Submit</button>

        </div>

    </form>
</div>